/* General Styles */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #3b82f6, #9333ea);
    color: white;
    text-align: center;
    padding: 1.5rem;
    animation: fadeIn 1.5s ease-out;
  }
  
  .home-container img {
    animation: zoomIn 2s ease-out;
  }
  
  .home-container h1 {
    animation: slideUp 1.5s ease-out;
  }

  .typing-effect {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid black; /* This is the cursor effect */
    width: 0;
    animation: typing 3s steps(30) 1s 1 normal both, blink 0.75s step-end infinite;
  }
  
  .home-container h3 {
    animation: slideUp 1.5s ease-out;
    animation-delay: 0.5s;
  }
  
  /* .home-container button {
    animation: bounceIn 1s ease-out;
    animation-delay: 1s;
  } */

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes bounceIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .home-container h1 {
      font-size: 2.5rem;
    }
    .home-container h3 {
      font-size: 1rem;
    }
    .home-container button {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .home-container h1 {
      font-size: 2rem;
    }
    .home-container h3 {
      font-size: 0.9rem;
    }
    .home-container button {
      font-size: 0.9rem;
    }
  }
  